<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!--========== CSS ==========-->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/styles.css') }}">

        <title>Reservacion de Mesas</title>
</head>

<body>

<!--========== SCROLL TOP ==========-->
<a href="#" class="scrolltop" id="scroll-top">
  <i class='bx bx-chevron-up scrolltop__icon'></i>
</a>

<!--========== HEADER ==========-->
<header class="l-header" id="header">
    <nav class="nav bd-container">
        <a href="{{ url_for('home_page') }}" class="nav__logo"><h1>Silver Leaf.</h1></a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="{{ url_for('home_page' )}}" class="nav__link active-link">Inicio</a></li>
                <li class="nav__item"><a href="index.html#about" class="nav__link">Sobre Nosotros</a></li>
                <li class="nav__item"><a href="index.html#services" class="nav__link">Servicios</a></li>
                <!-- <li class="nav__item"><a href="login.html" class="nav__link">Log in</a></li>
                <li class="nav__item"><a href="login.html" class="nav__link">Register</a></li> -->
                {% if current_user.is_authenticated %}
                <li class="nav__item"><a href="{{ url_for('logout') }}" class="nav__link">Cerrar Sesion</a></li>
                {% else %}
                <li class="nav__item"><a href="{{ url_for('login_page') }}" class="nav__link">Iniciar Sesion</a></li>
                <li class="nav__item"><a href="{{ url_for('login_page') }}" class="nav__link">Registrarse</a></li>
                {% endif %}
                <li class="nav__item"><a href="https://wa.link/ct2vt4" class="nav__link">Contactenos</a></li>

                <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>

<section class="menu section bd-container" id="menu">

<h1 class="section-title">Mesas Disponibles</h1>

</section>

<!-- TABLE STARTS -->
<table>
  <thead id="table-header">
    <tr>
        <th>Mesa</th>
        <th>Hora</th>
        <th>Fecha</th>
        <th>Alojamiento</th>
        <th></th>
    </tr>
    </thead>
    
    <tbody>
    {% for table in tables %}
        <tr>
            <td>{{ table.table }}</td>
            <td>{{ table.time }}</td>
            <td>{{ table.date }}</td>
            <td>{{ table.accomodation }}</td>
            <td>
                <!-- <a href ='#' class = 'button'>Reserve</a> -->
                <form method = 'POST'>
                    {{ reserve_form.hidden_tag() }}
                    <input id="reserved_table" name="reserved_table" type="hidden" value="{{ table.table }}">
                    {{ reserve_form.submit(class = 'button') }}
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- TABLE ENDS -->

<!--========== FOOTER ==========-->
<footer class="footer section bd-container">
  <div class="footer__container bd-grid">
      <div class="footer__content">
          <a href="{{ url_for('home_page') }}" class="footer__logo">Slver Leaf</a>
          <span class="footer__description">Restaurant</span>
          <div>
              <a href="https://www.facebook.com/?locale=es_LA" class="footer__social"><i class='bx bxl-facebook'></i></a>
              <a href="https://www.instagram.com/?hl=es" class="footer__social"><i class='bx bxl-instagram'></i></a>
              <a href="https://x.com/?lang=es" class="footer__social"><i class='bx bxl-twitter'></i></a>
          </div>
      </div>

      <div class="footer__content">
          <h3 class="footer__title">Services</h3>
          <ul>
              <li><a href="{{ url_for('menu_page') }}" class="footer__link">Ordenar comida</a></li>
              <li><a href="{{ url_for('table_page') }}" class="footer__link">Reseervacion de mesa</a></li>
              <li><a href="{{ url_for('track_page') }}" class="footer__link">Admicilio</a></li>
          </ul>
      </div>

      <div class="footer__content">
          <h3 class="footer__title">Information</h3>
          <ul>
              <li><a href="#" class="footer__link">Eventos</a></li>
              <li><a href="#" class="footer__link">Contactenos</a></li>
              <li><a href="#" class="footer__link">Politicas de Privacidad</a></li>
              <li><a href="#" class="footer__link">Terminos de Servicio</a></li>
          </ul>
      </div>

      <div class="footer__content">
          <h3 class="footer__title">Direccion</h3>
          <ul>
              <li>Edificio fenix</li>
              <li>2a Avenida Sur</li>
              <li>San Salvador</li>
              <li>7789-1244</li>
              <li>silverleaf@gmail.com</li>
          </ul>
      </div>
  </div>

  <script>
    window.addEventListener('mouseover', initLandbot, { once: true });
    window.addEventListener('touchstart', initLandbot, { once: true });
    var myLandbot;
    function initLandbot() {
      if (!myLandbot) {
        var s = document.createElement('script');s.type = 'text/javascript';s.async = true;
        s.addEventListener('load', function() {
          var myLandbot = new Landbot.Livechat({
            configUrl: 'https://storage.googleapis.com/landbot.site/v3/H-2631188-WIZ23KV1NIMD4SEO/index.json',
          });
        });
        s.src = 'https://cdn.landbot.io/landbot-3/landbot-3.0.0.js';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
      }
    }
    </script>

  <p class="footer__copy">&#169; 2024. All right reserved</p>
  </footer>
  <!--========== FOOTER ENDS HERE ==========-->

<!--========== SCROLL REVEAL ==========-->
<script src="https://unpkg.com/scrollreveal"></script>

<!--========== MAIN JS ==========-->
<script src="assets/js/main.js"></script>

</body>

</html>
