<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Seguimiento de Pedido</title>

    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/styles.css') }}">

  </head>
  <body>

  <!--========== SCROLL TOP ==========-->
  <a href="#" class="scrolltop" id="scroll-top">
      <i class='bx bx-chevron-up scrolltop__icon'></i>
  </a>

  <!--========== HEADER ==========-->
  <header class="l-header" id="header">
      <nav class="nav bd-container">
          <a href="{{ url_for('home_page') }}" class="nav__logo"><h1>Silver Leaf.</h1></a>

          <div class="nav__menu" id="nav-menu">
              <ul class="nav__list">
                  <li class="nav__item"><a href="{{ url_for('home_page') }}" class="nav__link active-link">Inicio</a></li>
                  <li class="nav__item"><a href="#about" class="nav__link">Sobre Nosotros</a></li>
                  <li class="nav__item"><a href="#services" class="nav__link">Servicios</a></li>
                  <li class="nav__item"><a href="https://wa.link/ct2vt4" class="nav__link">Contactanos</a></li>

                  <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
              </ul>
          </div>

          <div class="nav__toggle" id="nav-toggle">
              <i class='bx bx-menu'></i>
          </div>
      </nav>
  </header>
  <!--========== HEADER ENDS ==========-->

  <!--========== HEADER ENDS ==========-->
    <section class="contact section map-container" id="contact">
    <div id="map"></div>
    </section>

    <section class="contact section orderinfo-container" id="contact">
    <p><h1>¡Tu pedido está en camino!</h1></p>
    </section>

    <!-- <script>

     function initMap() {
        const directionsRenderer = new google.maps.DirectionsRenderer();
        const directionsService = new google.maps.DirectionsService();
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 14,
          center: { lat: 18.030905 , lng: 79.542875 },
        });

        directionsRenderer.setMap(map);
        calculateAndDisplayRoute(directionsService, directionsRenderer);
        DRIVING.addEventListener("change", () => {
          calculateAndDisplayRoute(directionsService, directionsRenderer);
        });
      }

      function calculateAndDisplayRoute(directionsService, directionsRenderer) {
        const selectedMode = "DRIVING" //document.getElementById("mode").value;

        directionsService
          .route({
            origin: { lat: 18.030905, lng: 79.542875 },
            destination: { lat:17.99231667131914 , lng:79.55652413925598 },
            travelMode: google.maps.TravelMode[selectedMode],
          })
          .then((response) => {
            directionsRenderer.setDirections(response);
          })
          .catch((e) => window.alert("Directions request failed due to " + status));
      }

      // window.alert("The delivery agent is on his way")
      </script> -->

    <script src="static/styles/js/track.js"></script>
    
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6ugZYXlVm0frolGF7HASfkeCHUdmobRE&callback=initMap&v=weekly&channel=2" async>
    </script>

    <!--========== FOOTER ==========-->
    <footer class="footer section bd-container">
        <div class="footer__container bd-grid">
            <div class="footer__content">
                <a href="{{ url_for('home_page') }}" class="footer__logo">Silver Leaf</a>
                <span class="footer__description">Restaurant</span>
                <div>
                    <a href="https://www.facebook.com/?locale=es_LA" class="footer__social"><i class='bx bxl-facebook'></i></a>
                    <a href="https://www.instagram.com/?hl=es" class="footer__social"><i class='bx bxl-instagram'></i></a>
                    <a href="https://x.com/?lang=es" class="footer__social"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Services</h3>
                <ul>
                    <li><a href="{{ url_for('table_page') }}" class="footer__link">Reservar Mesa</a></li>
                    <li><a href="{{ url_for('menu_page') }}" class="footer__link">Ordenar comida</a></li>
                    <li><a href="#" class="footer__link">Suigue tu Orden</a></li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Informacion</h3>
                <ul>
                    <li><a href="#" class="footer__link">Eventos</a></li>
                    <li><a href="https://wa.link/ct2vt4" class="footer__link">Contactenos</a></li>
                    <li><a href="#" class="footer__link">Politicas de Privacidad</a></li>
                    <li><a href="#" class="footer__link">Terminos y servicios</a></li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Direccion</h3>
                <ul>
                  <li>Edificio fenix</li>
                  <li>2a Avenida Sur</li>
                  <li>San Salvador</li>
                  <li>7789-1244</li>
                  <li>silverleaf@gmail.com</li>
                </ul>
            </div>
        </div>

        <p class="footer__copy">&#169; 2024. All rights reserved</p>
        </footer>
        <!--========== FOOTER ENDS ==========-->

        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="static/styles/js/main.js"></script>
  </body>
</html>
